$light: #fff;
$accent: #9b38dc;
$accent-dark: #6a2499;
$accent-light: #f4f0ff;
$dark: #494f54;
$gray: #677178;
$gray-dark: #8c959c;
$gray-light: #f6f7f9;
$black: #1c1f22;
$green: #21a038;
$green-dark: #116b22;
$gold: rgb(255, 153, 53);
$big: 32px;
$pre-big: 24px;
$middle: 16px;
$small: 12px;
$transition: all 0.3s ease-in-out;
$shadow:
  0 0 2px rgba(0, 0, 0, 0.08),
  0 2px 24px rgba(0, 0, 0, 0.06);
